<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<section class="containbody">
	<select class="custom-select custom-select-lg mb-3">
		<option selected>Kies een student</option>
		<option *ngFor="let student of studenten;">{{student}}</option>
	</select><br>

	<select class="custom-select custom-select-sm">
		<option selected>Kies een vak</option>
		<option *ngFor="let vak of vakken;">{{vak}}</option>
	</select>
	
	<button (click)="clickbtn()" id="fout" style="margin-top: .8em" class="btn btn-primary btn-lg btn-block">fout toevoegen</button><br>
	
	<table class="table table-bordered table-dark">
	<thead>
		<tr>
			<th scope="col">testnaam</th>
			<th *ngFor="let fout of fouten;" scope="col">{{fout}}</th>
			<th scope="col">resultaat</th>
		</tr>
		 </thead>
			<tr>
			<td scope="row">opdracht login</td>
			<td><input style="width:3em;" type="text"></td> 
			<td><input style="width:3em;" type="text"></td>
			<td><input style="width:3em;" type="text"></td>
			<td>20%</td>
		</tr>
		<tr>
			<td scope="row">project winkelmandje</td>
			<td><input style="width:3em;" type="text"></td> 
			<td><input style="width:3em;" type="text"></td>
			<td><input style="width:3em;" type="text"></td>
			<td>60%</td>
		</tr>
	</table>
</section>